@import-normalize;

@import "./common/colors/colors.css";

@font-face {
  font-family: "e-Ukraine-Bold";
  src: url("./assets/fonts/e-Ukraine-Bold.otf") format("opentype");
}
@font-face {
  font-family: "e-Ukraine-Light";
  src: url("./assets/fonts/e-Ukraine-Light.otf");
}
@font-face {
  font-family: "e-Ukraine-Medium";
  src: url("./assets/fonts/e-Ukraine-Medium.otf") format("opentype");
}
@font-face {
  font-family: "e-Ukraine-Regular";
  src: url("./assets/fonts/e-Ukraine-Regular.otf");
}
@font-face {
  font-family: "e-Ukraine-Thin";
  src: url("./assets/fonts/e-Ukraine-Thin.otf") format("opentype");
}
@font-face {
  font-family: "e-Ukraine-UltraLight";
  src: url("./assets/fonts/e-Ukraine-UltraLight.otf") format("opentype");
}
@font-face {
  font-family: "e-UkraineHead-Bold";
  src: url("./assets/fonts/e-UkraineHead-Bold.otf") format("opentype");
}
@font-face {
  font-family: "e-UkraineHead-Light";
  src: url("./assets/fonts/e-UkraineHead-Light.otf") format("opentype");
}
@font-face {
  font-family: "e-UkraineHead-LOGO";
  src: url("./assets/fonts/e-UkraineHead-LOGO.otf") format("opentype");
}
@font-face {
  font-family: "e-UkraineHead-Medium";
  src: url("./assets/fonts/e-UkraineHead-Medium.otf") format("opentype");
}
@font-face {
  font-family: "e-UkraineHead-Regular";
  src: url("./assets/fonts/e-UkraineHead-Regular.otf");
  font-weight: 1 100;
}
/* @font-face {
  font-family: "e-UkraineHead-Thin";
  src: url("./assets/fonts/e-UkraineHead-Thin.otf") format("opentype");
}
@font-face {
  font-family: "e-UkraineHead-UltraLight";
  src: url("./assets/fonts/e-UkraineHead-UltraLight.otf") format("opentype");
} */

@font-face {
  font-family: "e-Ukraine-Bold";
  src: url("./assets/fonts/e-Ukraine-Bold.otf") format("opentype");
}
@font-face {
  font-family: "e-Ukraine-Light";
  src: url("./assets/fonts/e-Ukraine-Light.otf") format("opentype");
}
@font-face {
  font-family: "e-Ukraine-Medium";
  src: url("./assets/fonts/e-Ukraine-Medium.otf") format("opentype");
}
@font-face {
  font-family: "e-Ukraine-Regular";
  src: url("./assets/fonts/e-Ukraine-Regular.otf") format("opentype");
}
@font-face {
  font-family: "e-Ukraine-Thin";
  src: url("./assets/fonts/e-Ukraine-Thin.otf") format("opentype");
}
@font-face {
  font-family: "e-Ukraine-UltraLight";
  src: url("./assets/fonts/e-Ukraine-UltraLight.otf") format("opentype");
}
@font-face {
  font-family: "e-UkraineHead-Bold";
  src: url("./assets/fonts/e-UkraineHead-Bold.otf") format("opentype");
}
@font-face {
  font-family: "e-UkraineHead-Light";
  src: url("./assets/fonts/e-UkraineHead-Light.otf") format("opentype");
}
@font-face {
  font-family: "e-UkraineHead-LOGO";
  src: url("./assets/fonts/e-UkraineHead-LOGO.otf") format("opentype");
}
@font-face {
  font-family: "e-UkraineHead-Medium";
  src: url("./assets/fonts/e-UkraineHead-Medium.otf") format("opentype");
}
@font-face {
  font-family: "e-UkraineHead-Regular";
  src: url("./assets/fonts/e-UkraineHead-Regular.otf") format("opentype");
}
@font-face {
  font-family: "e-UkraineHead-Thin";
  src: url("./assets/fonts/e-UkraineHead-Thin.otf") format("opentype");
}
@font-face {
  font-family: "e-UkraineHead-UltraLight";
  src: url("./assets/fonts/e-UkraineHead-UltraLight.otf") format("opentype");
}

@font-face {
  font-family: "Inclusion";
  src: url("./assets/fonts/inclusion.ukr.otf") format("opentype");
  font-weight: 1 100;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--base_bright-grey);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
img {
  display: block;
}

input {
  box-sizing: border-box;
  font-family: inherit;
}

button {
  cursor: pointer;
  color: '#181818'
}

button p{
  color: '#181818'
}
